{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

  <h1>Привет, я Гандрабура Анна</h1>
  <p>Информацию обо мне можно посмотреть по ссылкам:</p>
  <ul>
    <li>
      <a href="https://github.com/GandraNNA">Мой GitHub</a>
    </li>
    <li>
      <a href="https://spb.hh.ru/resume/010338d4ff091228340039ed1f487465663455">
        Резюме</a>
    </li>
  </ul>

  <h2>Коротко о том, кто я и что мне нравится(:</h2>

  <h3>Программирование</h3>
  <p>
    Ещё в школе мне понравилось программирование и мне нравилось решать
    задачки разными способами, поэтому я решила пойти учиться на программиста
    и училась аш 6 лет(!!), но, закончив магистратуру, поняла, что всё то, что
    нам давали, недостаточно. И вообще что я потеряла кучу времени, училась не
    достаточно усердно и моих знаний, которые ещё и хорошо так подзабылись, не
    хватит для нормальной работы. Кажется, что все эти 6 лет почти впустую
    потрачены. Как-то начала с грустного, получается.
  </p>
  <p>
    Но сейчас я прохожу курс Python-разработчику с верой в светлое и прекрасное
    будущее :)
  </p>
  <p>
    Забавный факт обо мне: в университете на бакалавриате я учила С++ и
    совершенно случайно познакомилась с Python'ом на написании моего первого
    диплома. Мой научный руководитель сказал, что этот язык ему удобнее, и он
    верит в то, что я справлюсь с ним. А так как проект целиком писался под
    него и используется им, выбора не было и я начала пробовать писать на
    Python'е. И мне, блин, понравилось! Это было словно какой-то магией, когда
    пишешь совсем чуть-чуть кода, а он выполняет так много всего! В общем, с
    того времени, желания писать на другом языке не было.
  </p>

  <h3>Другие факты обо мне</h3>
  <p>
    Первый и самый дурацкий, я слегка стеснительна и мне сложно о себе писать
    и общаться с незнакомцами
  </p>
  <p>
    Обожаю дошики и попробовала разных уже больше сотни и мне их периодически
    дарят и я сама, приехав в новую страну обязательно иду в магазин и ищу
    заветные пакетики/лоточки со вкусами и фирмами, которые ещё не пробовала.
  </p>
  <p>
    Года 3 назад открыла для себя крафтовое пиво, пробовала много разного, очень
    увлеклась и даже хотела начать вести для себя блог по разным сортам пива.
    Ходила на экскурсию в крафтовую пивоварню и готова советовать сделать тоже
    самое тем, кому интересно пиво и то как и из чего его делают) А вообще, для
    меня теперь sour'ы это лучшее пиво, которое только есть, хотя много моих
    друзей плюются от него и обходят кислые пивчики стороной.
  </p>
  <p>
    Недавно решила прочитать всего Гарри Потера в оригинале (никогда не читала
    его раньше) и жутко собой горжусь, после первой прочитанной части, потому
    что никогда раньше книжек на английском не читала. Поставила себе цель
    знать английский на хорошем уровне и стараюсь к этому стремиться
  </p>

{% endblock %}