{% extends 'base.html' %}

{% include 'includes/header.html' %}

{% load thumbnail %}
{% load static %}

{% block content %}
  <h1>{{ text }}</h1>
  {% include 'includes/switcher.html' %}

  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
          <a
              href="{% url 'Posts:profile' post.author.username %}">
            все посты пользователя
          </a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>

      {% thumbnail post.image "100x100" crop="center" as im %}
        <img src="/media/{{ post.image }}" width="960" height="399"
             alt="">
      {% endthumbnail %}
        <p>{{ post.text|linebreaksbr }}</p>

      <a class="navbar-brand"
         href="{% url 'Posts:post_detail' post.pk %}">
        подробная информация
      </a>

      {% if post.group %}
        <a class="navbar-brand"
           href="{% url 'Posts:group_list' post.group.slug %}">
          всё записи группы
        </a>
      {% endif %}
    </article>

    {% if not forloop.last %}
      <hr>{% endif %}

  {% endfor %}

  {% include 'includes/paginator.html' %}


{% endblock %}

{% include 'includes/footer.html' %}
