{% extends 'base.html' %}
{% load thumbnail %}
{% include 'includes/header.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <h1>{{ group.title }}</h1>
  <p> {{ group.description|linebreaksbr }} </p>

  {% for post in page_obj %}
    <ul>
      <li> Автор: {{ post.author.get_full_name }} </li>
      <li> Дата публикации: {{ post.pub_date|date:"d E Y" }} </li>
    </ul>
    {% thumbnail post.image "100x100" crop="center" as im %}
      <img src="/media/{{ post.image }}" width="960" height="399"
           alt="">
    {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}
      <hr>{% endif %}
  {% endfor %}

  {% include 'includes/paginator.html' %}

{% endblock %}
{% include 'includes/footer.html' %}
